__pycache__
pipeline/
pipeline/*.csv
pipeline/*.pkl
pipeline/cv_sim_data/
pipeline/pickled_cv_models/
pipeline/sim_lcs_output/
pipeline/dask_logs/
pipeline/simulated_datasets/EDM-1_one_of_each.zip
pipeline/simulated_datasets/EDM-1_one_of_each/
dask_logs/
simulated_datasets/
test/
old/
job.o
job.e